html,
body {
    height: 100px;
}

body {
    background-color: #1f2833;
    color: white;
    font-family: Arial;
    background-image: url(../images/cool_gaming_background_4k_by_skullbreaker000_dehn7hz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    display: inline-flex;
    font-size: 50px;
}

.labsh2 {
    padding-right: 100px;
    color:#66fcf2;
}

.gameh1 {
    padding-left: 50px;
}

.navbar {
    overflow: hidden;
    font-family: Arial;
    display: inline-flex;

}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: c5c6c7;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    background-color: #1f2833e0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #45a29de0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h2 {
    color:#66fcf2;
    padding-left: 50px;
    padding-top: 200px;
    font-size: 60px;
}

h4 {
    color: #d1e8e2cb;
    padding-left: 50px;
    font-size: 20px;
}

h3 {
    color: #d1e8e2
}

.displayPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gameBox {
    width: 15vw;
    padding: 30px;
}

.textBox {
    display: grid;
    margin-bottom: 10px;
}

.linkButton {
    text-decoration: none;
    color:white;
    background: #43318db7;
    padding: 10px;
    border-radius: 5px;
}

.linkButton:hover {
    background: #8d3150ea;
}


span {
    color: #c5c6c7;
    margin-bottom: 2px;
}

.categoryBox {
    margin: 25px;
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 5px;
}

img {
    border-radius: 5px;
}

.sampleImage {
    height: 100px;
    transform: rotate(25deg);
    position: relative;
    top: 60%;
    left: 30%
}

.categoryButton {
    text-decoration: none;
    color:white;
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.categoryButton:hover {
    background: #8d3150ea;
    cursor: pointer;
}