html,
body {
    height: 100px;
    background-color: #1f2833;
    color: white;
    font-family: Arial;
    background-image: url(../images/cool_gaming_background_4k_by_skullbreaker000_dehn7hz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gameh1 {
    margin-left: 50px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.labsh1 {
    text-decoration: none;
    margin-right: 100px;
    color: #66fcf2;
    font-size: 30px;
    font-weight: bold;
}

.navbar {
    overflow: hidden;
    font-family: Arial;
    display: inline-flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: c5c6c7;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    background-color: #1f2833e0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
    margin-top: 2px;
}

.dropdown-content a:hover {
    background-color: #45a29de0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h2 {
    padding-left: 50px;
    padding-top: 200px;
    font-size: 60px;
}

h4 {
    color: #d1e8e2cb;
    padding-left: 50px;
    font-size: 20px;
}

h3 {
    color: #d1e8e2
}

.displayPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gameBox {
    width: 15vw;
    padding: 30px;
}

.textBox {
    display: grid;
    margin-bottom: 10px;
}

.detailsTextBox {
    display: grid;
    margin-bottom: 10px;
}

.detailsDescription {
    position: absolute;
    width: 40vw;
    top: 100%;
}

.linkButton {
    text-decoration: none;
    color: white;
    background: #43318db7;
    padding: 10px;
    border-radius: 5px;
}

.linkButton:hover {
    background: #581b2fea;
}

.detailsLinkButton {
    text-decoration: none;
    color: white;
    background: #43318db7;
    padding: 10px;
    border-radius: 5px;
    position:absolute;
    top: 120%;
}

.detailsLinkButton:hover {
    background: #581b2fea;
}


span {
    color: #c5c6c7;
    margin-bottom: 2px;
}

.categoryBox {
    margin: 25px;
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 5px;
}

img {
    border-radius: 5px;
    width: 100%;
}

.sampleImage {
    height: 100px;
    transform: rotate(25deg);
    position: relative;
    top: 60%;
    left: 30%
}

.categoryButton {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 7%;
    left: 10%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.categoryBox:hover {
    cursor: pointer;
    opacity: 80%;
}

.detailsPageImage {
    width: 150%;
    margin-top: 20px;
}

.detailsGameBox {
    position: absolute;
    left: 10%;    
    width: 20vw;
}

.thumbnail img:hover {
    cursor: pointer;
    opacity: 80%;
}

.alphabetBox {
    display: flex;
    justify-content: space-around;
}

.alphabets {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.alphabets:hover {
    cursor: pointer;
    color: #66fcf2;
}

.alphabets:target {
    color: rgba(255, 0, 55, 0.768);
}

#errorImage {
    width: 300px;
    padding: 90px;
    opacity: 0.844;
}

#errorh2 {
    position: absolute;
    padding-left: 0px;
    top: 30%;
    color: rgba(0, 0, 0, 0.844);
}

@keyframes ldio-c0eyojz9hmi {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldio-c0eyojz9hmi div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-c0eyojz9hmi linear 1s infinite;
    background: #a976c3;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
}

.ldio-c0eyojz9hmi div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #a976c3;
}

.ldio-c0eyojz9hmi div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #a976c3;
}

.ldio-c0eyojz9hmi div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #a976c3;
}

.ldio-c0eyojz9hmi div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #a976c3;
}

.ldio-c0eyojz9hmi div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #a976c3;
}

.ldio-c0eyojz9hmi div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #a976c3;
}

.ldio-c0eyojz9hmi div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #a976c3;
}

.ldio-c0eyojz9hmi div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #a976c3;
}

.ldio-c0eyojz9hmi div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #a976c3;
}

.ldio-c0eyojz9hmi div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #a976c3;
}

.ldio-c0eyojz9hmi div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #a976c3;
}

.ldio-c0eyojz9hmi div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #a976c3;
}

.loadingio-spinner-spinner-c5cmjuf7ctq {
    width: 200px;
    height: 200px;
    display: none; /* inline-block */
    overflow: hidden;
    background:none;
    position: fixed;
    top: 10%;
    left: 45%;

}

.ldio-c0eyojz9hmi {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-c0eyojz9hmi div {
    box-sizing: content-box;
}

/* generated by https://loading.io/ */